<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPEExrQG3BAs8pyxNjSMrJwgryEXu5uBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>702925986530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceSystem</string>
	<key>PROJECT_ID</key>
	<string>attendance-system-2a8f6</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-system-2a8f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702925986530:ios:7c94fa7eacef64aa4b5cbb</string>
</dict>
</plist>